.marker {
    position:relative;  
    color:black; 
    width:200px; 
    text-align: center;
    padding-block-start: 10px;
}
.mapboxgl-popup-close-button{
    color:black;
    margin:4px;
    background-color: rgb(197, 163, 163);
    padding-inline: 5px;
    border-radius: 10px;
    border:0 px;
}
.mapboxgl-popup-close-button:hover{
    color:white; 
    background-color: rgb(177, 177, 177);
}
.carousel{ 
    width:200px;
    height:200px; 
}
.carousel-items{  
    display:flex;
    overflow:hidden; 
    position:relative; 
    width:200px;
    height:200px; 
}  
/*
  




/*
.carousel-items .image{  
    position:relative;
    min-width:200px; 
    min-height:200px; 
}
.image img{

    min-width:200px; 
    min-height:200px; 
    object-fit: cover;   
}
 /*
.imagesCarousel{
    position:relative; 
    overflow:none; 
    width:200px;
    height:200px;
    margin: 20px 0px;
    background-color: red;
}
.imagesCarousel img{ 
    position:relative;
    width:500px;
    height:100%; 
    border:1px solid blue;
} 
.details span{
    margin-inline-end: 20px; 
}/*
.imagesCarousel> div{
    width:100%;
    height:100%; 
    background-color: red;
    border: 1px solid blue;

}.imagesCarousel div img {
    display:none;
    position:relative;
    width:100%;
    height:100%; 
    border: 1px solid blue;
    
}
/*animation: carouselAnimate 10s infinite;*/
/*
@keyframes carouselAnimate {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100;}
    45% {margin-left: -100;}
    50% {margin-left: -200;}
    70% {margin-left: -200;}
    75% {margin-left: -300;}
    100% {margin-left: -300;}
}
 /*

.mapboxgl-popup{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:red;
  background-color: #4CAF50;
  height: 200px;
  width: 200px;
  position:relative;
}

/* .mapboxgl-popup >div{
    position:absolute;
    inset: 0;
    background-color: blue;
    height: 200px;
    width: 200px;

} */